<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
        }
        html,body {
            width: 100%;
            height: 100%;
        }
        .app {
            background-image: url(../src/img/blueprint.png);
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="app">
        <header>
            <h1>todolist</h1>
        </header>
        <div class="content">
            <input type="text" v-model="inputText" v-on:keyup="addTodo">
            <ul>
                <li v-for="item in array" v-on:click="deleteItem(item)">{{item.title}}</li>
            </ul>
        </div>
        <button v-on:click="change">排序</button>
    </div>
    <script src="../dist/js/main.bundle.js"></script>
    
    <script>
        var vm = new MVVM({
            el: '.app',
            data: {
                array: [
                {
                    title: "1",
                    isFinished: false
                },
                {
                    title: '2',
                    isFinished: true
                }],
                inputText: ""
            },
            methods: {
                addTodo: function (event) {
                    if (this.inputText !== '' && event.keyCode === 13) {
                        this.array.push({
                            title: this.inputText,
                            isFinished: false
                        });
                        this.inputText = '';
                    }
                },
                sort: function () {
                    this.array.sort(function(a,b){return a.title > b.title});
                    console.log(this.array);
                    this.array.push('');
                    this.array.pop('');
                },
                change: function () {
                    this.array[0].title = "dfs";
                },
                deleteItem: function (item) {
                    console.log("dfs")
                }
            }
        });
    </script>
</body>
</html>