<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/input.css" />
    <link rel="stylesheet" type="text/css" href="./css/list.css" />
    <link rel="stylesheet" type="text/css" href="./css/index.css" />
    <link rel="stylesheet" type="text/css" href="./css/weather.css" />
</head>

<body>
    <div class="app">
        <!--v-on:mousemove="showDrawer"-->
		<div class="wrapper" >
			<div id="weather"></div>
			<div class="input-container">
				<h2 v-html="title"></h2>
				<input type="text" id="todo-input" v-model="inputText" v-on:keyup="addInput">
				<div id="todoList-container">
					<div class="todo-content move1"></div>
					<div class="todo-content move1"></div>
					<div class="todo-content move1"></div>
					<div class="todo-content move1"></div>
				</div>
			</div>
			<div id="timeline-container" class="timeline-container-show">
				<ul class="todo-list">
					<li class="todo" v-for="todo in todolist">
						<div v-class="todo.className">
							<span class="toggle" v-on:click="finishItem(todo)"></span>
							<label>{{todo.title}}</label>
							<span class="destroy" v-on:click="remove(todo)"></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
    <script src="../dist/js/main.bundle.js"></script>
    <script src="./js/weather.js"></script>
    <script>
        var vm = new MVVM({
            el: '.app',
            data: {
                title: "what to do next ?",
                todolist: [
                    {
                        title: "爱睡懒觉凯迪拉克加福禄寿",
                        isFinished: false,
                        className: 'view'
                    },
                    {
                        title: '啥地方撒发送到',
                        isFinished: true,
                        className: 'view completed'
                    },
                    {
                        title: "爱睡懒觉凯迪拉克加福禄寿",
                        isFinished: false,
                        className: 'view'
                    },
                    {
                        title: '啥地方撒发送到',
                        isFinished: true,
                        className: 'view completed'
                    },
                    {
                        title: "爱睡懒觉凯迪拉克加福禄寿",
                        isFinished: false,
                        className: 'view'
                    },
                    {
                        title: '啥地方撒发送到',
                        isFinished: true,
                        className: 'view completed'
                    },{
                        title: "爱睡懒觉凯迪拉克加福禄寿",
                        isFinished: false,
                        className: 'view'
                    },
                    {
                        title: '啥地方撒发送到',
                        isFinished: true,
                        className: 'view completed'
                    }
                ],
                inputText: "",
                times: 0
            },
            methods: {
                showDrawer: function (event) {
                    var timeline = document.getElementById('timeline-container');
                    if (event.clientX < 300) {
                        timeline.className = 'timeline-container-show'
                    } else {
                        timeline.className = 'timeline-container-hide';
                    }
                },
                addInput: function (event) {
                    if (event.keyCode == 13) {
                        this.times++;
                        var value = this.inputText;
                        var obj = {
                            title: value,
                            isFinished: false,
                            className: 'view'
                        };
                        this.todolist.unshift(obj);
                        console.log(this.todolist);
                        this.inputText = "";
                        this.$options.methods.insertContent.call(this, value);
                    }
                },
                remove: function (todo) {
                    var index = -1;
                    for (var i = 0; i < this.todolist.length; i++) {
                        if (todo === this.todolist[i]) {
                            index = i;
                            break;
                        }
                    }
                    if (index !== -1) {
                        this.todolist.splice(index, 1);
                    }
                },
                finishItem: function (todo) {
                    if (todo.isFinished) {
                        todo.isFinished = false;
                        todo.className = 'view';
                    } else {
                        todo.isFinished = true;
                        todo.className = 'view completed';
                    }
                },
                insertContent: function (v) {
                    function hasClass(obj, cls) {
                        return obj.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));
                    }

                    function addClass(obj, cls) {
                        if (!hasClass(obj, cls)) obj.className += " " + cls;
                    }

                    function removeClass(obj, cls) {
                        if (hasClass(obj, cls)) {
                            var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)');
                            obj.className = obj.className.replace(reg, ' ');
                        }
                    }
                    var con = document.querySelectorAll(".todo-content");

                    var t = this.times % 4;
                    if (t == 1) {
                        con[0].innerHTML = v;
                        removeClass(con[0], "move1");
                        addClass(con[0], "move2");

                        con[1].innerHTML = "";
                        removeClass(con[1], "move4");
                        addClass(con[1], "move1");

                        removeClass(con[2], "move3");
                        addClass(con[2], "move4");


                        removeClass(con[3], "move2");
                        addClass(con[3], "move3");
                    } else if (t == 2) {
                        removeClass(con[0], "move2");
                        addClass(con[0], "move3");

                        con[1].innerHTML = v;
                        removeClass(con[1], "move1");
                        addClass(con[1], "move2");

                        con[2].innerHTML = "";
                        removeClass(con[2], "move4");
                        addClass(con[2], "move1");


                        removeClass(con[3], "move3");
                        addClass(con[3], "move4");
                    } else if (t == 3) {
                        removeClass(con[0], "move3");
                        addClass(con[0], "move4");

                        removeClass(con[1], "move2");
                        addClass(con[1], "move3");

                        con[2].innerHTML = v;
                        removeClass(con[2], "move1");
                        addClass(con[2], "move2");

                        con[3].innerHTML = "";
                        removeClass(con[3], "move4");
                        addClass(con[3], "move1");
                    } else if (t == 0) {
                        con[0].innerHTML = "";
                        removeClass(con[0], "move4");
                        addClass(con[0], "move1");

                        removeClass(con[1], "move3");
                        addClass(con[1], "move4");

                        removeClass(con[2], "move2");
                        addClass(con[2], "move3");

                        con[3].innerHTML = v;
                        removeClass(con[3], "move1");
                        addClass(con[3], "move2");

                    }
                }
            }
        });
    </script>
</body>

</html>