<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双向绑定</title>
</head>

<body>
    <script src="./dist/js/main.bundle.js"></script>
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <div id="app">
        <input type="text" v-model="firstName">
        <input type="text" v-model="htmlStr">
        <p v-text="firstName"></p>
        <p>
            {{firstName}}{{array.length}}
            {{{htmlStr}}}
            <span v-text="child.lastName"></span>
        </p>
        <p v-html="htmlStr"></p>
        <button v-on:click="clickBtn">change model</button>
        <button v-on:click="addItem">数组增加长度</button>
        
    </div>
    <script>

        let vm = new MVVM({
            el: '#app',
            data: {
                firstName: "hello ",
                htmlStr: '<span style="color: #f00;">我是v-html指令的结果</span><span>sdf</spam>',
                child: {
                    lastName: ' World !'
                },
                array: ["sdf","sdfd"]
            },
            methods: {
                clickBtn: function (e) {
                    alert("hello");
                },
                addItem: function () {
                    vm.array.pop();
                }
            }
        });
        




        /*vm.$watch('child.lastName', function () {
            console.log(arguments);
        });*/
    </script>
    
</body>

</html>